<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="de.walware.rj.servi.rcpdemo.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.walware.rj.servi.internal.rcpdemo.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.walware.rj.servi.rcpdemo.application"
            name="RServi RCP Demo">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="RServi RCP Demo">
         </property>
         <property
               name="startupProgressRect"
               value="20,190,415,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="20,210,415,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.walware.rj.servi.internal.rcpdemo.Perspective"
            id="de.walware.rj.servi.rcpdemo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu id="file"
               label="&amp;File">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:file">
         <command
               commandId="org.eclipse.ui.file.exit"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.walware.rj.servi.internal.rcpdemo.views.RServiConfigView"
            id="de.walware.rj.servi.rcpdemo.views.RServiConfig"
            name="Config"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="de.walware.rj.servi.internal.rcpdemo.views.GraphDemoView"
            id="de.walware.rj.servi.rcpdemo.views.GraphDemo"
            name="Graph"
            restorable="true">
      </view>
      <view
            id="org.eclipse.ui.views.ProgressView"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            name="Progress">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.walware.rj.servi.rcpdemo.views.GraphDemo"
               closeable="false"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               visible="true">
         </view>
         <view
               id="de.walware.rj.servi.rcpdemo.views.RServiConfig"
               closeable="false"
               minimized="false"
               ratio="0.3f"
               relative="de.walware.rj.servi.rcpdemo.views.GraphDemo"
               relationship="left"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               closeable="true"
               minimized="false"
               ratio="0.75"
               relative="de.walware.rj.servi.rcpdemo.views.RServiConfig"
               relationship="bottom"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
